@charset "UTF-8";
:root {
  --font-sans: "poppins", sans-serif;
  --font-serif: "Playfair Display" , serif;
  --font-base: 1rem;
  --font-scale: 1.25;
  --font-size-1: var(--font-base);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
  --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
  --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
  --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
  --font-size-6: calc( var(--font-size-5) * var(--font-scale) );
  --color-accent: #3694f2;
  --color-accent-light: #eceef2;
  --color-light: #fff;
  --color-lighter: #888;
  --color-medium: #666;
  --color-dark: #333;
  --section-gap: 8rem;
  --section-gap-inner: calc( var(--section-gap) * 0.75 );
  --section-gap-inner-small: calc( var(--section-gap) * 0.5);
  --menu-height: 100px;
  --grid-gap: 3rem;
  --page-padding: 30px;
  --page-width: 78rem;
  --content-width: 55rem;
  --content-width-small: 40rem;
  --menu-height: 100px;
  --grid-container: minmax(var(--page-padding), 1fr) [inner-start] minmax(0, var(--page-width)) [inner-end] minmax(var(--page-padding), 1fr);
  --grid-content: repeat(12, 1fr);
}

* {
  box-sizing: border-box;
}

body, figure {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  font-size: var(--font-size-6);
  color: var(--color-dark);
}

h1 {
  font-size: var(--font-size-6);
}

h2 {
  font-size: var(--font-size-5);
}

h3 {
  font-size: var(--font-size-4);
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

p, a, li, span {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-size: var(--font-size-1);
  color: var(--color-medium);
  font-weight: 300;
}

p {
  font-size: var(--font-size-2);
}

a {
  text-decoration: none;
  font-size: var(--font-size-1);
  font-weight: 500;
}

.link {
  display: inline-flex;
  align-items: center;
}

.link__icon {
  margin-right: 0.75rem;
}

.link__circle {
  fill: var(--color-accent);
}

.link__arrow {
  fill: none;
  stroke: var(--color-light);
  stroke-linecap: round;
}

.promotion {
  display: grid;
  grid-template-columns: var(--grid-container);
  /* Centrerar innehållet */
}
.promotion__inner {
  grid-column: inner;
}
.promotion__image {
  margin-top: calc(var(--section-gap-inner) * -1);
  display: block;
}
.promotion__content {
  max-width: var(--content-width-small);
  text-align: center;
  margin: 0 auto;
  padding-top: 6rem;
}
.promotion__title, .promotion__text {
  margin: 0;
}
.promotion__title {
  padding-bottom: 1.5rem;
}
.promotion__text {
  padding-bottom: 2.5rem;
}
.promotion strong {
  font-weight: 500;
}
.promotion__link {
  font-weight: 400;
  color: var(--color-accent);
  font-size: var(--font-size-2);
}

.service {
  display: grid;
  grid-template-columns: var(--grid-container);
  padding-top: 6rem;
}
.service__inner {
  grid-column: inner;
  display: grid;
  grid-template-columns: var(--grid-content);
  gap: var(--grid-gap);
}
.service__content {
  grid-column: 1/4;
  align-self: center;
}
.service__title, .service__excerpt, .service__text, .service__link {
  margin: 0;
}
.service__excerpt, .service__text {
  font-size: var(--font-size-1);
}
.service__excerpt {
  font-weight: 500;
  padding: 1rem 0 0.5rem 0;
}
.service__text {
  padding-bottom: 1rem;
}
.service__image {
  grid-column: 1/8;
}
.service__image + .service__content {
  grid-column: 9/13;
}

.case {
  grid-column: 5/9;
}
.case__text {
  font-size: var(--font-size-1);
  display: inline;
}
.case__title {
  display: inline;
  font-size: var(--font-size-1);
  font-family: var(--font-sans);
  font-weight: 500;
  color: var(--color-medium);
}
.case__title::after {
  content: " - ";
}

.case-2 {
  grid-column: 9/13;
  margin-top: var(--section-gap-inner);
}

.clients {
  display: grid;
  grid-template-columns: var(--grid-container);
}
.clients__inner {
  grid-column: inner;
}
.clients__content {
  text-align: center;
  margin: 0 auto;
  max-width: var(--content-width);
  padding: 6rem 0 6rem 0;
}
.clients__title, .clients__text {
  margin: 0;
}
.clients__text {
  padding: 1.5rem 0 2.5rem 0;
}
.clients__list {
  list-style: none;
  margin: 0;
  padding: 0 0 2.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.clients__item {
  padding: 0 1.5rem;
}

.header {
  display: grid;
  grid-template-columns: var(--grid-container);
  height: var(--menu-height);
  background-color: none;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  transition: all 0.5s;
}
.header--scrolled {
  height: var(--menu-height);
  background-color: var(--color-light);
}
.header__inner {
  grid-column: inner;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.branding {
  color: var(--color-dark);
  font-weight: 500;
  font-size: var(--font-size-2);
}

.menu-button {
  background: none;
  border: 0;
  padding: 0;
  height: 40px;
  width: 26px;
  cursor: pointer;
}

.menu-button__hamburger {
  height: 2px;
  width: 100%;
  background: var(--color-medium);
  position: relative;
}

.menu-button__hamburger::before,
.menu-button__hamburger::after {
  content: "";
  height: 2px;
  width: 100%;
  background: inherit;
  position: absolute;
  left: 0;
  transition: all 0.3;
}

.menu-button__hamburger::before {
  top: -8px;
}

.menu-button__hamburger::after {
  top: 8px;
}

.menu-button--close .menu-button__hamburger::before,
.menu-button--close .menu-button__hamburger::after {
  top: 0;
}

.menu-button--close .menu-button__hamburger,
.menu-button--close .menu-button__hamburger::before,
.menu-button--close .menu-button__hamburger::after {
  background-color: var(--color-accent-light);
}

.footer {
  display: grid;
  grid-template-columns: var(--grid-container);
  padding: 6rem 0 6rem 0;
  background-color: var(--color-accent-light);
}
.footer__inner {
  grid-column: inner;
  display: grid;
  grid-template-columns: var(--grid-content);
  gap: var(--grid-gap);
  align-items: end;
}
.footer__content {
  grid-column: 1/6;
}
.footer__title {
  margin: 0;
  padding-top: 1.5rem;
}
.footer__text {
  padding: 1rem 0;
}
.footer__text, .footer__link {
  margin: 0;
  font-size: 1rem;
}
.footer__menu {
  grid-column: 7/9;
}
.footer .footer-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .footer-menu__item {
  padding-bottom: 1rem;
}
.footer .footer-menu__item:last-of-type {
  padding: 0;
}
.footer .footer-menu__link {
  font-weight: 400;
  color: var(--color-lighter);
}
.footer .newsletter {
  grid-column: 9/13;
}
.footer .newsletter__title {
  margin: 0;
  padding-bottom: 1.5rem;
}
.footer .newsletter__input, .footer .newsletter__button {
  background: none;
  border: 0;
  border-radius: 0;
  padding: 0;
}
.footer .newsletter__form {
  display: flex;
  border-bottom: 1px solid var(--color-medium);
}
.footer .newsletter__input {
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 0;
  font-size: 1rem;
  font-family: var(--font-sans);
}
.footer__bottom {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6rem;
}
.footer__bottom .copyright {
  font-size: 1rem;
  font-family: var(--font-sans);
  color: var(--color-lighter);
}
.footer__bottom .social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.footer__bottom .social__item {
  padding-left: 3rem;
}

.menu {
  background-color: var(--color-dark);
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 998;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.menu--opened {
  visibility: visible;
  opacity: 1;
}
.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu__item {
  margin: 0;
  padding: 0.5rem 0;
}
.menu__link {
  color: var(--color-light);
  font-family: var(--font-serif);
  font-size: var(--font-size-5);
  font-weight: 800;
}

.hero {
  display: grid;
  grid-template-columns: var(--grid-container);
  min-height: calc(100vh + var(--section-gap-inner));
  width: 100%;
  background-color: var(--color-accent-light);
  /* Centrerar hela boxen */
  /* Centrerar innehållet */
}
.hero__inner {
  grid-column: inner;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__content {
  max-width: var(--content-width-small);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__title, .hero__text {
  margin: 0;
}
.hero__title {
  padding-top: 1rem;
}
.hero__text {
  padding: 1.5rem 0 2.5rem 0;
}
.hero__link {
  display: inline-flex;
  align-items: center;
}
.hero .link__icon {
  margin-right: 0.75rem;
}
.hero .link--grayscale {
  fill: var(--color-dark);
}
.hero .link__arrow {
  fill: none;
  stroke: var(--color-light);
  stroke-linecap: round;
}

/*# sourceMappingURL=style.css.map */
