.footer {
    display: grid;
    grid-template-columns: var(--grid-container);
    padding: 6rem 0 6rem 0;
    background-color: var(--color-accent-light);

    &__inner {
        grid-column: inner;
        display: grid;
        grid-template-columns: var(--grid-content);
        gap: var(--grid-gap);
        align-items: end;
    }

    &__content {
        grid-column: 1/6;
        
    }

    &__title {
        margin: 0;
        padding-top: 1.5rem;

    }
    
    &__text {
        padding: 1rem 0;
    }

    &__text, &__link {
        margin: 0;
        font-size: 1rem;
    }

    &__menu {
        grid-column: 7/9;
    }

    .footer-menu {

        &__list {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        &__item {
            padding-bottom: 1rem;
        }

        &__item:last-of-type {
            padding: 0;
        }

        &__link {
            font-weight: 400; 
            color: var(--color-lighter);

        }

    }

    .newsletter {
        grid-column: 9/13;

        &__title {
            margin: 0;
            padding-bottom: 1.5rem;
        }
        
        // Nollställer grundutseendet på inmatningsrutan och knappen
        &__input, &__button {
            background: none;
            border: 0;
            border-radius: 0;
            padding: 0;
        }
        
        // display: flex; gör att inmatningsrutan ligger inline med knappen
        // border-bottom ger oss en kant i botten av forumläret 
        // kanten sätts på formuläret för att den också ska sträcka sig längst kanppen
        &__form {
            display: flex; 
            border-bottom: 1px solid var(--color-medium);
        }
        
        &__input {
            width: 100%;
            padding: 0.5rem 0.5rem 0.5rem 0;
            font-size: 1rem;
            font-family: var(--font-sans);
        }
    
    }
    
    // display: flex; har samma egenskap som display: inline-block; - "linjera" element 
    &__bottom {
        grid-column: 1/-1;
        display: flex; 
        justify-content: space-between;
        align-items: center;
        padding-top: 6rem;
        
        .copyright {
            font-size: 1rem;
            font-family: var(--font-sans);
            color: var(--color-lighter);
        }
        
        .social {
            &__list {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
            }
            
            &__item {
                padding-left: 3rem;
            }
            
        }

    }
    

}
