.menu {
    background-color: var(--color-dark);
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; // centrerar boxen - vertikalnivå
    text-align: center; // centrerar innehållet - vertikalnivå
    z-index: 998;
    visibility: hidden;
    opacity: 0; // för att gömma menyn när vi ej har klickat på den
    transition: all 0.3s;

    &--opened {
        visibility: visible;
        opacity: 1;
    }
    
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    &__item {
        margin: 0;
        padding: 0.5rem 0;
    }
    
    &__link {
        color: var(--color-light);
        font-family: var(--font-serif);
        font-size: var(--font-size-5);
        font-weight: 800;
    }
    
}
